/01.initial_codes/.vs
/01.initial_codes/GA.Api/obj
/01.initial_codes/GA.Api/bin
/01.initial_codes/GA.Api.8Queens/obj
/01.initial_codes/GA.Api.8Queens/bin
/01.initial_codes/GA.Api.CardsProblem/bin
/01.initial_codes/GA.Api.CardsProblem/obj
/01.initial_codes/GA.Api.LinearEquationSolver/bin
/01.initial_codes/GA.Api.LinearEquationSolver/obj
/01.initial_codes/GA.Api.PhraseEvolution/.vs
/01.initial_codes/GA.Api.PhraseEvolution/bin
/01.initial_codes/GA.Api.PhraseEvolution/obj
/01.initial_codes/GA.Api.PhraseEvolution.GUI/bin
/01.initial_codes/GA.Api.PhraseEvolution.GUI/obj
/01.initial_codes/GA.Api.Rastrigin/bin
/01.initial_codes/GA.Api.Rastrigin/obj
/01.initial_codes/GA.Api.Rectangles.GUI/bin
/01.initial_codes/GA.Api.Rectangles.GUI/obj
/01.initial_codes/GA.Api.Sudoku/bin
/01.initial_codes/GA.Api.Sudoku/obj
/01.initial_codes/GA.Api.TSP/bin
/01.initial_codes/GA.Api.TSP/obj
/01.initial_codes/GA.Api.TSP/.vs
/02.book_codes/core/__pycache__
/02.book_codes/old/__pycache__
